/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: green;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

h2 {
    color: black;
    animation: h2 3.5s infinite;
}

@keyframes h2 {
    0% {
        color: black;
    }

    49% {
        color: transparent;
    }

    50% {
        color: black;
    }

    99% {
        color: transparent;
    }

    100% {
        color: black;
    }
}

th {
    font-style: italic;
    text-decoration: underline;
}

.spiffy {
    color: magenta;
    font-weight: bolder;
}

.title {
    color: green;
}

.year {
    color: blue;
}

.rated {
    color: red;
    font-weight: bolder
}

.released {
    color: firebrick;
}

.actors {
    color: black;
    font-stretch: normal
}

.director {
    color: fuchsia;
    font-weight: bold;
    font-stretch: normal
}

.table {
    background-color: transparent
}

.blink {
    animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
    0% {
        color: red;
    }

    49% {
        color: transparent;
    }

    50% {
        color: black;
    }

    99% {
        color: transparent;
    }

    100% {
        color: red;
    }
}

.moreblink {
    animation: moreblink 0.8s infinite;
}

@keyframes moreblink {
    0% {
        color: green;
    }

    49% {
        color: transparent;
    }

    50% {
        color: green;
    }

    99% {
        color: transparent;
    }

    100% {
        color: green;
    }
}
