
@{
    ViewData["Title"] = "Search";
}

<h2>Search for Movie!</h2>

<form action="../FavoriteMovies/GetMovieBySearch" method="post">
    <input type="text" name="search" value="" />
    <input type="submit" name="submit" class="btn btn-warning" value="Submit" />

</form>

