@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="../FavoriteMovies/GetMovieBySearch" class="btn btn-outline-success">Search for movie</a>  <a href="../FavoriteMovies/DisplayFavorites" class="btn btn-outline-success">Favorites</a></p>
</div>